$flex_property: flex;
$flex_direction: row;
$width: 100%;

@mixin flexible() {
  display: $flex_property;
  flex-direction: $flex_direction;
}

@mixin flex_wrap() {
  display: $flex-property;
  flex-wrap: wrap;
}

@mixin flex_direction() {
  display: $flex-property;
  flex-direction: row;
  justify-content: center;
}
