@import "../../styles/index";
.navbar.fixed-top {
  left: 0;
  top: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}
.navbar_container {
  display: flex;
}
.header_text {
  color: black;
}
.navbar_container > li {
  flex: 1;
  color: white;
}
@media all and (max-width: 600px) {
  .navbar_container {
    flex-wrap: wrap;
  }
  .navbar_container > li {
    flex-basis: 50%;
  }
}
.navbar_item {
  color: white;
  font-size: 30px;
}

.form_type_selector_button {
  @include button_style();
  background-color: aliceblue;
  color: black;
}

.modal_button {
  @include button_style();
  background-color: black;
  color: white;
  margin: 1rem 2.5rem 2.5rem 0rem;
}
