@import "../../styles/index";
.search__container {
  display: $flex_property;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin: 5%;
}
.search__text {
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 20px;
}

.search__form {
  height: 30px;
  width: $width;
  border: 2px solid grey;
}

.search__generic__field {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 16%;
}

.search__button {
  @include button_style();
}
