@import "../../styles/index";

.search__text {
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .search__text {
    display: none;
  }
}

.search__form {
  margin-top: 5%;
  height: 30px;
  width: 90%;
  border: 2px solid grey;
}

@media only screen and (max-width: 1000px) {
  .search__form {
    height: 30px;
    width: 90%;
    border: 2px solid grey;
    margin: 3%;
    border-radius: 17px;
  }
}
.search__generic__field {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1000px) {
  .search__generic__field {
    display: flex;
    margin: 0;
    width: 100%;
  }
}

.search__button {
  @include button_style();
}

@media only screen and (max-width: 1000px) {
  .search__button {
    display: none;
  }
}
