@import "../../styles/index";
.news_article_container {
  @include flex_wrap();
  margin-left: 8%;
  margin-right: 8%;
}

@media only screen and (max-width: 1000px) {
  .news_article_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 4%;
  }
}
.news-card {
  @include flex_direction_column;
  width: 40%;
  height: auto;
  margin: 4%;
  background-color: var(--app-bg-color);
  /* box-shadow: 0 1px 0px 1px rgba(0,0,0,0.1); */
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 1000px) {
  .news-card {
    width: 100%;
    margin: 1%;
    height: auto;
    color: black;
    margin-left: 15px;
  }
}

.news_source_container {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.news_article_description_container {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.news_author {
  width: $width;
}
.news-image {
  width: $width;
  height: 350px;
}
.read__button {
  @include read_button_style();
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 1000px) {
  .read__button {
    @include button_style_phone();
    position: absolute;
    bottom: 0;
  }
}
.loader {
  display: block;
  margin-left: 35%;
  margin-top: 10%;
}
.paginator_container {
  @include flex_direction();
}

ul {
  list-style-type: none;
}
.paginator_key {
  @include button_style();
  margin: 5px;
}

@media only screen and (max-width: 1000px) {
  .paginator_key {
    @include button_style_phone();
    margin: 10px;
  }
}
.news_title {
  font-size: 2rem;
}
.news_title_container {
  margin-bottom: 5%;
}
.news_paginator_container {
  height: auto;
}

.news-card:link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.content_container {
  padding: 5% 5% 0% 5%;
}

.like_icon {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
}
.parent_card {
  position: relative;
}
.save_news_container {
  height: 20px;
}
.save_news_button {
  position: absolute;
  right: 0;
  bottom: 0;
  @include read_button_style();
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-top: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  cursor: pointer;
}
