@import "../../styles/index";
.news_article_container {
  @include flex_wrap();
}

@media only screen and (max-width: 1000px) {
  .news_article_container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.news-card {
  width: 40%;
  height: auto;
  margin: 5%;
  background-color: var(--app-bg-color);
  /* box-shadow: 0 1px 0px 1px rgba(0,0,0,0.1); */
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .news-card {
    width: 100%;
  }
}

.news_author {
  width: $width;
}
.news-image {
  width: $width;
  height: 50%;
}
.read__button {
  @include button_style();
  position: absolute;
  bottom: 0;
}
.loader {
  display: block;
  margin-left: 40%;
}
.paginator_container {
  @include flex_direction();
}
ul {
  list-style-type: none;
}
.paginator_key {
  @include button_style();
  margin: 5px;
}
.news_title {
  font-size: 2rem;
}
.news_title_container {
  margin-bottom: 5%;
}
.news_paginator_container {
  height: auto;
}
