$flex-property: flex;
$width: 100%;

.news_article_container {
  display: $flex-property;
  flex-wrap: wrap;
  margin-right: 8%;
  margin-left: 8%;
}
.news-card {
  width: 40%;
  height: auto;
  margin: 5%;
  background-color: var(--app-bg-color);
  /* box-shadow: 0 1px 0px 1px rgba(0,0,0,0.1); */
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
}

.news_author {
  width: $width;
}
.news-image {
  width: $width;
  height: 50%;
}
.read__button {
  background-color: black;
  display: inline-block;
  font: inherit;
  color: whitesmoke;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
.loader {
  display: block;
  margin-left: 40%;
}
.paginator_container {
  display: $flex-property;
  flex-direction: row;
  justify-content: center;
}
ul {
  list-style-type: none;
}
.paginator_key {
  background-color: black;
  display: inline-block;
  font: inherit;
  color: whitesmoke;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 5px;
}
.news_title {
  font-size: 2rem;
}
